<p>
  <strong>Commenter:</strong>
  <%= comment.inspect %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

 <p>
<%#= current_user.inspect  %>
Fun : <%= rating_for comment, "fun", :star => 10 %>
</p>

<p>
  <%= link_to 'Destroy Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
